.title-card{
  display: flex;
  position: relative;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #1c1c1c;
  border-radius: 8px;
  box-shadow: rgb(18, 18, 18, 0.35) 0px 5px 15px;
}

h1{
  font-size:1.4rem;
}
img{
  max-height: 13%;
  max-width: 29%;
  border-radius: 8px;
}
p{
  font-size: 1rem;
  margin-bottom:1rem;
}

.title-card:hover{
  transition: all 0.1s;
  background-color: #212121;
  box-shadow: rgb(31, 31, 31, 0.35) 0px 5px 15px;
}
.time{
  position: absolute;
  margin: 0.8em;
  bottom: 0;
  right: 0;
  font-size:0.8rem;
}